@import mixins
@import media
@import sprites
@import normalize


$font-weight: 400
$font-size: 14px
$line-height: 1.4
$font-family: 'Roboto', sans-serif
$font-family2: 'Geo', sans-serif
$font-family3: 'Arial Narrow', arial
$color: #3c3c3c
$wrapper: 1140px


body 	
	color: #636363
	font: $font-weight $font-size/$line-height $font-family, Arial, sans-serif
	background: #f6f4f5


/* MAIN STYLES
/* ================================================ */

.main-wrapper
	padding: 0
	min-width: 320px
	position: relative 
	opacity: 1
	overflow: hidden
	min-height: 100% 

.wrapper 
	max-width: $wrapper
	margin: 0 auto
	position: relative
	padding-left: 20px
.step-wrapper
	max-width: 540px
	margin: 0 auto



img
	display: block
	max-width: 100%

span 
	display: inline-block


.main__btn	
	background: #3c3c3c
	border-radius: 100px
	color: #ffffff
	font-family: Roboto
	font-size: 16px
	font-weight: 300
	padding: 17px 53px
	text-align: center
	vertical-align: middle
	&:hover
		background: #5d5d5d
		
.tab__back__btn
	position: absolute
	bottom: 10px
	display: flex
	align-items: center
	color: #3a3938
	font-size: 16px
	cursor: pointer
	.arrow
		font-size: 20px	
		transform: scale(-1,-1)
		margin-right: 18px
		margin-top: 4px
	.back
		border: 1px solid transparent
		&:hover
			border-bottom: 1px dotted #3a3938	
.tab__next__btn
	display: flex
	align-items: center
	color: #3a3938
	font-family: Roboto
	font-size: 18px
	font-weight: 700
	border-radius: 37px
	background-color: #fedd00	
	padding: 25px 35px 25px 45px
	transition: 0.4s
	cursor: pointer
	&:hover
		background: #FFAE00
		color: #ffffff
		[class*='icon']
			color: #ffffff
	[class*='icon']
		transition: 0.4s
		color: #383634	
		margin-left: 25px


#tab_1
	.tab__next__btn
		pointer-events: none
		&.valid
			pointer-events: visible
#tab_2
	.tab__back__btn
		bottom: 115px			


/* toogle-menu-btn*/
.toogle-menu
	width: 76px
	height: 61px
	position: absolute
	display: flex
	justify-content: center
	top: 13px
	&__icon
		display: flex
		align-items: center
		position: relative
		width: 30px
		height: 21px
		span
			display: block
			width: 67%
			height: 4px
			background: #010101
			transition: background 0.3s
			border-radius: 7px
			&:before,&:after
				content: ''
				position: absolute
				width: 100%
				height: 4px
				display: block
				background: #010101
				border-radius: 7px
				transition: background 0.3s
			&:before
				top: 0	
			&:after
				width: 43%	
				bottom: 0
		

	
/* end*/	

/* SLIDER */
.slick-slide 
	outline: none	
button 
	border: none
	background: transparent





/* text position */

.text-left
	text-align: left !important

.text-center
	text-align: center !important

.text-right
	text-align: right !important

.mobile-header
	display: none
/* header */
.header
	height: 42px
	box-shadow: 0px 14px 21px -15px rgba(0,0,0,0.27)
	&-content
		display: flex
		align-items: center
		overflow: hidden
	&__menu
		display: flex
		list-style: none
		margin-right: 213px
		&__item
			padding-top: 14px
			padding-bottom: 17px
			&:nth-child(1)
				margin-right: 40px
			&:nth-child(2)
				margin-right: 45px
			&:nth-child(3)
				margin-right: 40px
			&:nth-child(4)
				margin-right: 45px		
		&__link
			color: #676767
			font-family: Roboto
			font-size: 16px
			line-height: 20px	
			transition: 0.3s
			&:hover
				color: #e5c200						
	.location
		display: flex
		align-items: center
		[class*='icon']
			&:first-child
				font-size: 10px
				margin-right: 16px
			&:last-child
				font-size: 5px
				margin-left: 21px
		&__city		
			display: flex
			align-items: center
			color: #242424
			font-size: 16px
			cursor: pointer
			&__desc
				border-bottom: 1px dotted #595959

					
	&-inner	
		padding-top: 6px	
		padding-bottom: 10px
		&-content
			display: flex	
			align-items: center
		&__phone
			display: flex	
			align-items: center
			margin-right: 83px
					
		.basket
			display: flex
			background: #fedd00
			border-radius: 10px
			padding: 20px 0 0 20px
			margin-top: 5px
			width: 249px
			height: 84px
			transition: 0.3s
			cursor: pointer
			&:hover
				background: #fff
				transform: scale(1.1)
				.basket__product__issue
					border-bottom: 1px dotted #242424	
				[class*='icon']
					color: #F6F4F5
					background: #FEDD00
			[class*='icon']
				background: #fff
				border-radius: 50%
				padding: 14px 15px 14px 12px
				margin-right: 19px
				font-size: 20px	
				transition: 0.3s
		
			&__cart
				position: relative
				.badge
					position: absolute
					left: 26px
					top: -8px
			&__product
				display: flex
				flex-direction: column	
				&__number
					color: #4b4c4c
					font-size: 16px
					margin-bottom: 2px
					padding-top: 1px
					line-height: 18px	
				&__issue
					color: #242424
					font-size: 16px
					font-weight: 900
						
	&-logo
		display: flex
		align-items: center
		margin-right: 95px
		&__img 
			margin-right: 28px
	&-about
		color: #242424
		font-family: Roboto
		font-size: 18px
		font-weight: 700
		line-height: 21.33px
		letter-spacing: 0.2px
	&__phone-icon
		align-items: center
		text-align: center
		[class*='icon']
			border: 1px solid #595959
			border-radius: 50%
			padding: 18px
			font-size: 16px		
			&:hover
				background: #fff
	&__phones
		display: flex
		flex-direction: column	
		list-style: none
		margin-left: 28px	
		&__first
			color: #454545
			font-size: 12px
			font-weight: 500
			padding-bottom: 11px
		&__second
			color: #242424
			font-size: 21px
			font-weight: 900
			padding-bottom: 10px
		&__callMe
			color: #242424
			font-size: 16px
		&__item
			&:first-child
				color: #454545
				font-size: 12px
				font-weight: 500
				padding-top: 4px
				padding-bottom: 3px
			&:nth-child(2)
				color: #242424
				font-size: 21px
				font-weight: 900
			&:last-child
				color: #242424
				font-size: 16px
				.header__phones__link
					border-bottom: 1px dotted #242424
	
.badge
	min-width: 25px
	height: 25px
	border: 3px solid #ffffff
	background-color: #ed1c24	
	display: inline-block
	border-radius: 50%
	vertical-align: middle
	text-align: center
	line-height: 19px
	font-size: 12px
	color: #ffffff	

.select-wrapper
	position: relative
	width: 150px
	border-radius: 3px
	border-bottom: 1px dotted #828282
	position: relative
	margin: 10px 0
	&__select
		outline: none
		width: 150px
		height: 28px
		background: transparent
		border: none
		appearance: none
.select-arrow-3 
	position: absolute
	z-index: -999
	border: 8px solid transparent
	border-bottom: 0
	right: 6px
	&:nth-child(1)
		top: 130px
		border-bottom-color: red
	&:nth-child(2)
		top: 10px
		border-top-color: #ffffff

 

	
		


/* main menu */
.menu	
	background: #3b3b3a
	height: 50px

	.wrapper
		padding-left: 5px
	&-content
		display: flex
		align-items: center
	.shares
		display: flex
		align-items: center
		background: #ffffff
		border-radius: 4px
		width: 113px
		height: 38px
		transition: 0.3s
		cursor: pointer
		&:hover
			color: #ffffff
			background: #FEDD00
			.shares__percent
				background: #ffffff
		&__percent
			text-align: center
			vertical-align: middle
			background: #fedd00
			border-radius: 50%
			color: #242424
			font-size: 16px
			font-weight: 400
			width: 28px
			height: 28px
			padding-top: 4px
			margin: 0 0 5px 10px
			transition: 0.3s
		&__text	
			color: #242424
			font-size: 16px
			font-weight: 400
			padding: 13px 11px 13px 10px
	.main__menu
		display: flex
		align-items: center
		list-style: none
		&__item
			height: 50px
			transition: 0.3s
			&:first-child
				.main__menu__link
					padding-left: 19px
					border-left: none
			&:nth-child(2)
				.main__menu__link
					padding-left: 23px
			&:nth-child(3)
				.main__menu__link	
					padding-left: 25px			
			&:nth-child(4)	
				.main__menu__link	
					padding-left: 22px		
			&:nth-child(5)	
				.main__menu__link	

					padding-left: 25px		
			&:last-child
				.main__menu__link
					padding-left: 23px
					border-right: none		
			&:hover
				.dropdown-content
					display: block		
		&__link
			color: #ffffff
			font-size: 16px
			padding-top: 15px
			padding-bottom: 15px
			display:  block
			height: 50px
			border-left: 1px solid #585858
			border-right: 1px solid #585858
			&:hover
				background: #5d5d5d
			[class*='icon']
				font-size: 5px
				color: #9a9a9a
				margin-left: 17px
				margin-right: 12px
				vertical-align: middle

.dropdown-content
	position: absolute
	left: 117px
	background: #f6f4f5
	width: 594px
	display: none
	z-index: 9999
	transition: 0.3s
	.dropdown__menu
		display: flex
		flex-wrap: wrap 
		list-style: none
		padding-top: 11px
		padding-bottom: 14px
		padding-left: 10px
		padding-right: 11px
		border-radius: 0 0 6px 6px
		box-shadow: 0 11px 43px rgba(52, 48, 45, 0.45)
		border: 1px solid #b4b4b4
		&__item
			background: #fff
			border: 1px solid #e6e6e6
			border-radius: 6px
			padding: 11px 0
			cursor: pointer
			width: 282px
			margin-top: 10px
			margin-left: 7px
			&:hover
				border: 1px solid #fedd00
			&:nth-child(odd)
				margin-left: 0	
			&:nth-child(1),&:nth-child(2)
				margin-top: 0px
		&__link
			display: flex
		&__img
			margin-left: 10px
			width: 83px
			height: 88px
		&__desc		
			color: #393837
			font-size: 16px
			margin: 25px 7px 0 20px
			padding: 0
			&:hover
				color: #010101
			
		
			
.dropdown-content2
	left: 314px
.dropdown-content3
	left: 482px	
.dropdown-content4
	left: 634px	
.dropdown-content5
	left: 925px	
+max-screen(1800px)	
	.dropdown-content5
		left: 545px

.main-tab-title
	color: #2c292b
	font-size: 32px
	font-weight: 700
	margin-bottom: 20px



	/* reference */	

.reference
	margin-bottom: 20px
	background: #fff
	.wrapper
		padding-left: 16px
	&-content
		display: flex
		align-items: center
	&__item	
		display: flex	
		align-items: center
		margin-left: 30px
		padding-top: 20px
		padding-bottom: 19px
		&:first-child
			margin-left: 0
		[class*='icon']
			margin-right: 15px
			font-size: 17px
			&:last-child
				margin-right: 0
		&__desc	
			color: #454545
			font-size: 14px


.hide
	position: absolute
	width: 0
	height: 0	
	top: 0
	left: 0
	overflow: hidden
	opacity: 0
	visibility: hidden
	z-index: -1
.tab-count
	opacity: 1
	transition: opacity 0.4s
	visibility: visible
	&.hide
		opacity: 0	
#tab_1
	height: 352px	
	box-shadow: 0 5px 32px rgba(36, 36, 36, 0.04)
	border-radius: 10px
	background-color: #ffffff	
		
.tab__title
	color: #242424
	font-size: 24px
	font-weight: 700
	margin-bottom: 28px
.tab-wrap
	margin-bottom: 25px	
	.wrapper
		padding-left: 16px
		padding-right: 25px
.nav-tab-list
	list-style: none
	display: flex	
	justify-content: space-between
	margin-bottom: 50px
	&__item
		display: flex
		align-items: center
		cursor: default
		pointer-events: none
		&.active
			.nav-tab-list__link
				color: #3a3938
			.nav-tab-list__number
				background-color: #3a3938
				color: #ffffff	
			[class*='icon']
				color: #141414	
		[class*='icon']
			color: #b4b4b4
			font-size: 6px
			margin-right: 15px
	&__number
		color: #a6a6a6
		font-size: 18px
		border: 1px solid #b4b4b4
		background-color: #f6f4f5		
		border-radius: 50%
		padding: 12px 17px	
		margin-right: 15px
		cursor: default
		pointer-events: none
	&__link
		color: #a6a6a6
		font-size: 18px
		font-weight: 700
		margin-right: 29px	
		cursor: default
		pointer-events: none

.form
	padding-top: 70px
	margin-right: 70px
	&__row
		display: flex		
		justify-content: center
		margin-bottom: 28px
		&__text
			color: #a0a0a0
			font-size: 14px
			margin-top: 9px
		&:first-child
			margin-left: 200px
		&__email
			display: flex
			flex-direction: column
			.requirements
				margin-top: 10px

	&__text
		display: inline-block
		width: 87px
		color: #242424
		font-size: 18px
		font-weight: 700
		padding-top: 10px
		margin-right: 23px
		span
			color: #f44545		
	&__input
		border-radius: 6px
		border: 1px solid #e6e6e6
		background-color: #ffffff
		padding: 12px 0 12px 16px
		width: 280px
		&:focus
			border: 1px solid #fedd00
		&:valid 
			background: url('../img/tick1.svg.svg')
			background-size: 12px
			background-repeat: no-repeat
			background-position: 93%

		&:invalid:focus:not(:placeholder-shown) 
			background: url('../img/close.svg.svg')
			background-size: 8px
			background-repeat: no-repeat
			background-position: 93%
			padding-left: 16px
			& ~ .requirements 
				opacity: 1
	&__phone__link
		color: #a0a0a0
		font-size: 16px
		margin-left: 26px
		margin-top: 10px
		border-bottom: 1px dotted #3a3938	
		&:hover
			border-bottom: 1px solid #3a3938	
			color: #888888

#tab_1
	.tab__bottom
		bottom: -40px

.tab__bottom
	position: relative
	bottom: -90px
	left: 25px
	display: flex
	justify-content: space-between



  
.requirements 
	color: #f9545a
	font-size: 14px
	transition: 0.28s
	overflow: hidden
	opacity: 0




.region
	text-align: left
	background: #fff
	padding-bottom: 41px
	padding-top: 36px
	margin-bottom: 20px
	box-shadow: 0 5px 32px rgba(36, 36, 36, 0.04)
	border-radius: 10px
	&__content
		display: flex
		align-items: center
		[class*='icon']
			font-size: 18px
			margin-right: 17px
		&__address
			color: #242424
			font-size: 16px
			margin-right: 20px
		&__change
			color: #ed1c24
			font-size: 16px
			cursor: pointer
			border-bottom: 1px solid #fff
			&:hover
				border-bottom: 1px dotted #ed1c24
.delivery
	text-align: left
	background: #fff
	padding-bottom: 35px
	padding-top: 36px
	margin-bottom: 20px
	box-shadow: 0 5px 32px rgba(36, 36, 36, 0.04)
	border-radius: 10px

.radio__list
	list-style: none
	display: flex
	flex-direction: column
	&__item
		display: flex
		margin-bottom: 28px
		&:nth-child(3)
			.radio__span__desc
				span
					font-weight: 700
				.red
					font-weight: 400
					color: #ed1c24	
		&:nth-child(4)
			.red
				color: #ed1c24
		&:nth-child(5)
			flex-direction: column		
			margin-left: 40px
			.radio__span
				margin-bottom: 17px
			input
				border-radius: 6px
				border: 1px solid #e6e6e6
				background-color: #ffffff	
				padding: 11px 0 11px 16px	
	&__text
		display: flex
		flex-direction: column
		margin-left: 21px
.radio__span
	color: #242424
	font-size: 16px
	font-weight: 500	
	&__desc
		margin-top: 7px
		color: #a0a0a0
		font-size: 16px
.radio__img
	display: flex
	flex-direction: column
	position: relative
	left: -20px
	&__row
		display: flex
		flex-direction: row
		align-items: center
		margin-bottom: 11px
		img
			margin-right: 18px
		&:first-child
			img:nth-child(4)
				width: 51px
				height: 30px




.pay
	text-align: left
	background: #fff
	padding-bottom: 35px
	padding-top: 36px
	margin-bottom: 20px
	box-shadow: 0 5px 32px rgba(36, 36, 36, 0.04)
	border-radius: 10px
	&__numbers
		position: absolute
		right: 60px	
		bottom: 25px
		span:nth-child(1)
			color: #242424
			font-size: 18px
			margin-right: 17px
		span:nth-child(2)
			color: #242424
			font-size: 30px
			font-weight: 700	

#address
	display: none
	&.active
		display: flex

#pay__btn
	position: relative
	bottom: 0
	right: 0
	display: none
	&.active
		display: block
	&.unactive
		display: none
#next__btn
	&.active
		display: block
	&.unactive
		display: none				












	
/* footer */
	
.footer
	background: #151515
	padding: 48px 0	
	margin-top: 285px		
	&-content
		display: flex
		.accordion
			display: none
	&__item
		margin-right: 160px
		&:last-child
			margin-right: 0
		&__title
			color: #ffffff
			font-size: 18px
			font-weight: 400
			margin-bottom: 27px
	&__menu
		display: flex
		flex-direction: column
		list-style: none		
		&__item
			padding-bottom: 15px
		&__link
			color: #afafaf
			font-size: 14px
			font-weight: 300
			&:hover
				color: #fff
	&__logo
		display: flex
		flex-direction: column
		padding-bottom: 54px
		&__text
			color: #717171
			font-size: 16px
			font-weight: 400
			margin-bottom: 13px
		&__img
			width: 141px
			height: 34px	
	&__phone
		margin-bottom: 30px
		&__link	
			color: #fedd00
			font-size: 24px
			font-weight: 500		
		&__desc
			color: #ffffff
			font-size: 14px
			font-weight: 300
			padding-top: 12px
	&-bottom
		display: flex	
		align-items: center
		&__develope
			color: #525252
			font-size: 12px
			font-weight: 300
			margin-right: 113px
	&__pay
		display: flex
		margin-right: 53px
		&__images
			border: 1px solid #acacac
			border-radius: 50%	
			margin-right: 17px
			width: 50px
			height: 50px
			img
				margin: 15px auto
				width: 24px
				height: 16px
		&__title
			color: #444444
			padding-bottom: 18px
			font-size: 12px
			text-transform: uppercase
		&__img
			display: flex	
			img
				margin-left: 18px
				&:first-child
					margin-left: 0

	&__social
		display: flex
		&__item
			border: 1px solid #8a8a8a
			border-radius: 50%
			text-align: center
			vertical-align: middle
			&:first-child
				margin-right: 20px
				.footer__social__link
					[class*='icon']
						padding: 15px 14px
		&__link
		[class*='icon']
			font-size: 22px
			color: #8a8a8a
			font-weight: 400
			text-transform: uppercase
			text-align: center
			&:last-child
				padding: 15px 20px 14px 20px		



			
.popup
	display: none
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	width: 100%
	height: 100%
	z-index: 9
	background-color: rgba(0, 0, 0, 0.5)
	&-header
		color: #2c292b
		font-size: 32px
		font-weight: 700
		text-align: center
		padding-bottom: 30px
	&-close
		position: absolute
		top: -1%
		font-size: 3rem
		left: 0
		width: 2rem
		text-align: center
		border: none
		background: transparent
	&-content	
		position: fixed
		left: 50%
		top: 20%
		background-color: #fff
		transform: translateX(-50%)
		width: 50%
		padding: 20px
		border-radius: 10px
	&-list
		display: flex	
	&__menu
		margin: 0 auto
		list-style: none
		&__item
			padding-bottom: 10px	
		&__link
			color: #242424
			font-size: 16px
			border-bottom: 1px dotted #828282
			&:hover
				color: #fedd00
				border: none

			
	
/* media*\


+max-screen(1210px)	
	.wrapper
		padding: 0 5px
	.mobile-header
		display: flex
		align-items: center
		.mobile-logo
			margin: 0 auto
			padding-top: 7px
		.basket
			display: flex
			align-items: center
			position: relative
			margin-right: 10px
			padding-top: 10px
			[class*='icon']
				color: #fff
				font-size: 25px	
			.badge
				position: absolute
				top: 5px	
				right: -10px
				background: #FEDD00
	.accordion

		display: flex!important
		margin-left: 50px
		&-content
			display: flex
			flex-direction: column
		&-box
			display: flex
			justify-content: center
		&__head
			margin-right: 50px
			display: flex
			align-items: center
			[class*='icon']
				margin-bottom: 20px
				margin-left: 10px


	
	.dropdown-content.open
		display: block
		left: 0	
		transition: all .4s ease-in-out
	.dropdown-content
		display: block
		width: 100%	
		left: -100%
		top: 50px	
		border: 1px solid #b4b4b4	
		transition: all .4s ease-in-out
		.dropdown__menu
			box-shadow: none
			border: none
			margin: 0 auto
			flex-direction: column
			justify-content: flex-start
			&__item
				margin: 0
				padding: 0
				margin-bottom: 10px
				width: unset
			.dropdown__menu__link
				justify-content: center
			&__desc
				padding: 20px 25px
				text-align: center
				margin: 0	
				font-size: 18px
		&__title
			color: #2c292b
			font-family: Roboto
			font-size: 24px
			font-weight: 700
			margin-bottom: 10px
			padding-top: 5px
			text-align: center
		&__item
			margin-bottom: 15px
			&:first-child
				.dropdown-content__title
					padding-top: 20px
		&-box 
			display: flex	
			flex-direction: column	
		&__item	
	.header
		display: none
		&-inner
			display: none	
	.menu 
		.shares
			display: none			
	.main
		&__menu
			display: none!important		
	.reference-content
		display: none
	.footer
		&__item
			display: none	
		&-bottom
			justify-content: center	
		&-content
			justify-content: center
	.accordion
		display: flex
		margin-left: 50px
		&-content
			display: flex
			flex-direction: column
		&-box
			display: flex
			justify-content: center
		&__head
			margin-right: 50px
			display: flex
			align-items: center
			[class*='icon']
				margin-bottom: 20px
				margin-left: 10px
	.popup-content
		width: 90%
	.location__city__desc
		font-size: 12px
		color: #fff
		padding-right: 5px		
	.location
		padding-top: 10px
		margin-left: 7px
		[class*='icon']
			color: #fff
			font-size: 7px	
	.header__phone-icon
		padding-top: 5px
		margin-right: 10px
		[class*='icon']
			padding: 10px
			border: 1px solid #fff
			color: black
			&:hover
				border: 1px solid #FEDC00
		
+max-screen(900px)	
	.nav-tab-list
		&__item
			[class*='icon']
				font-size: 4px
	.form__phone__link
		display: none
	.form__row:first-child
		margin-left: 0						

+max-screen(890px)	
	
	.footer-bottom__develope
		display: none

	
+max-screen(800px)
	.nav-tab-list
		flex-direction: column
		&__item
			flex-direction: column
			justify-content: center
			margin-bottom: 20px	
			[class*='icon']
				display: none
		&__link
			margin-right: 0	
		&__number
			margin-bottom: 20px		
	.tab__back__btn		
		bottom: 100px!important		


+max-screen(520px)	
	.accordion
		margin-left: 130px
		display: block!important
		&-box
			flex-direction: column
	.footer
		&-bottom 
			flex-direction: column
		&__pay
			margin-right: 0
			margin-bottom: 30px			
			&__images
				display: none
	.tab-wrap
		.wrapper
			padding: 0			
	.form
		&__input
			width: 169px
		&__row
			flex-direction: column
			margin-left: 150px
			&:first-child
				margin-left: 150px
		&__text		
			display: block
			text-align: center
			margin-left: 40px
	#tab_1
		height: 400px	
	.pay__numbers		
		right: 60px
		bottom: 20px	
	.tab__bottom
		bottom: -160px
		left: 0		
	.pay
		.radio
			&__list
				&__item
					justify-content: center
			&__img
				img
					margin-left: 0 
					margin-bottom: 20px
				&__row
					flex-direction: column	
		.tab__title
			text-align: center	
	#radio2-styler
		width: 25px				
	.popup-content
		width: 100%
	.popup__menu:nth-child(3)	
		display: none	
					


+max-screen(420px)
	.form
		&__row
			margin-left: 110px
			&:first-child
				margin-left: 110px
		
+max-screen(400px)
	.accordion
		margin-left: 70px	
	.footer
		&__pay	
			&__variants
				margin-left: 20px	
		&__social
	.footer__pay__title
		text-align: center		
	.menu
		.location
			display: none	
	.toogle-menu
		width: 40px
		height: 40px	
		&__icon
			width: 30px
			height: 22px
			span
				height: 3px
				&:before,&:after
					height: 3px
	.mobile-header				
		.mobile-logo
			margin-left: 50px
			margin-right: 20px				

	.form
		&__row
			margin-left: 70px
			&:first-child
				margin-left: 70px
		.tab__bottom
			bottom: -50px
			left: 30px
		.tab__next__btn
			padding: 10px 13px 14px 35px			
			
		
			
		


		

		

		


		
			