.sub_tabs__content {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
    &__header {
        background: #B8D7EB;
        box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        padding-left: 33px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 83vw;
        margin-bottom: 30px;
        &__item {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            &__text {
                display: flex;
                align-items: center;
                font-size: 12px;
                input {
                    margin-left: 10px;
                }
            }
            &__ls {
                margin-left: 20px;
            }
            &__money {
                &__item {
                    display: flex;
                    align-items: center;
                    margin-right: 40px;
                    max-width: 160px;
                    &:last-child {
                        margin-right: 0;
                    }
                    span {
                        font-weight: 600;
                        margin-left: 10px;
                        font-size: 16px;
                    }
                }
                
            }
        }
        &__checkbox {
            display: none;
            &:checked + .sub_tabs__content__header__checkbox__fake{
                background: #21317A;
                
            }
            &:checked + .sub_tabs__content__header__checkbox__fake::before{
                opacity: 1;
            }
            &__fake {
                display: inline-block;
                height: 15px;
                width: 15px;
                background-color: #D2D2D2;
                position: relative;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 3px;
                margin-left: 10px;
                &::before {
                    content: '';
                    position: absolute;
                    color: #ffffff;
                    font-size: 10px;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 50%;
                    left: 45%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: .3s;
                }
            }
        }
    }
    &__items {
        max-width: 83vw;
        overflow-y: auto;
        height: 42vh;
        padding-right: 25px;
        &::-webkit-scrollbar {
            width: 6px;
            margin-left: 20px;
            height: 20px;
        }
        &::-webkit-scrollbar-thumb {
            background: #21317A;
            border-radius: 10px;
        }
        .sub_tabs__content__main__item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &__info {
                display: flex;
                justify-content: space-between;
                margin-left: 7px;
                width: 100%;
                padding: 10px;
                &:hover {
                    background: #B8D7EB;
                box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
                border-radius: 10px;

                }
                &__ls {
                    display: flex;
                    width: 85px;
                    .number {
                        display: block;
                        color: $text_link;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    &__item {
                        &:first-child {
                            display: flex;
                            flex-direction: column;
                        }
                        &:nth-child(2) {
                            display: flex;
                            margin-left: 10px;
                            img {
                                width: 15px;
                                height: 16px;
                            }
                            div {
                                &:first-child {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
                &__item {
                    display: block;
                    color: #333;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.04em;
                    font-weight: 500;
                    &:nth-child(2) {
                        max-width: 90px;
                        margin-left: 30px;
                        margin-right: 10px;
                    }
                    &:nth-child(3) {
                        max-width: 150px;
                    }
                    
                }

            }
        }
    }

}

.status {
    display: flex;
    &__menu {
        &__item {
            cursor: pointer;
            position: relative;
            width: 110px;
            height: 40px;
            color: $text_inDark;
            border-radius: 10px;
            padding: 12px 0 13px 10px;
            font-size: 12px;
            font-weight: 500;
            display: none;
            margin-right: 30px;
            &__new {
                background: #495CFF;
            }
            &__work {
                background: #828282; 
            }
            &__ready {
                background: #009688;
            }
            &__redeemed {
                background: #96A1D3;
            }
            &__unloaded {
                background: #25B2D4;
            }
            .arrow__down {
                position: absolute;
                top: 11px;
                right: 11px;
                border-width: 0 1px 1px 0;
            }
            &.active {
                display: block;
            }

        }
    }
    &__label {
        margin-left: -15px;
    }
    &__checkbox {
        display: none;
        &:checked + .status__checkbox__fake{
            background: #CBD0E7;
            
        }
        &:checked + .status__checkbox__fake::before{
            opacity: 1;
        }
        &__fake {
            display: inline-block;
            height: 15px;
            width: 15px;
            background-color: #D2D2D2;
            position: relative;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 3px;
            &::before {
                content: '';
                position: absolute;
                color: #ffffff;
                font-size: 10px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: #21317A;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 50%;
                left: 45%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .3s;
            }
        }
    }
}

.total {
    display: flex;
    justify-content: space-between;
    background: #455159;
    max-width: 83vw;
    padding: 25px 0;
    &__text {
        font-weight: 600;
        font-size: 18px;
        color: $text_inDark;
        margin-left: 140px;
    }
    &__money {
        display: flex;
        justify-content: space-between;
        &__item {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            color: $text_inDark;
            margin-right: 91px;
            &:last-child {
                margin-right: 30px;
            }
        }
    }
 
}

.pagination {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    &__arrows {
        &__prev {
            img {
                &:nth-child(2) {
                    margin-left: -6px;

                }
            }
        }
        &__next {
            img {
                &:nth-child(2) {
                    margin-right: -6px;
                }
            }
        }
    }
    &__page {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-left: 10px;
        margin-right: 10px;
        span {
            &.active {
                color: #495CFF;
            }
        }
    }
}