.settings {
    display: flex;
    align-items: center;
    max-width: 1460px;
    margin-left: 120px;
    &__items {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: #fff;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        margin-right: 25px;
        height: 45px;
        &:nth-child(3) {
            margin-right: 0;
            .settings__item {
                border-right: none;
            }
        }
    }
    &__item {
        position: relative;
        padding-right: 12px;
        margin-right: 12px;
        border-right: 1px solid #bdbdbd;
        &:last-child {
            border-right: none;
            margin-right: 0;
        }
        &.hints {
            .hints__item {
                display: block;
            }
        }
    }
    &__change {
        cursor: pointer;
        color: #828282;
        padding-bottom: 5px;
        border-bottom: 1px solid #828282;
        margin-left: 40px;
        margin-right: 200px;
        &:hover {
            color: #000;
        }
    }
    &_look {
        display: flex;
        align-items: center;
        margin-right: 110px;
        &__item {
            color: red;
            margin-right: 30px;
            font-size: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__search {
        cursor: pointer;
        background: #fff;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: 0.3s;
        &.active {
            background: #21317a;
            path {
                fill: #fff;
            }
        }
    }
}
