.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1460px;
  margin-left: 120px;
}

.settings__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-right: 25px;
  height: 45px;
}

.settings__items:nth-child(3) {
  margin-right: 0;
}

.settings__items:nth-child(3) .settings__item {
  border-right: none;
}

.settings__item {
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #bdbdbd;
}

.settings__item:last-child {
  border-right: none;
  margin-right: 0;
}

.settings__item.hints .hints__item {
  display: block;
}

.settings__change {
  cursor: pointer;
  color: #828282;
  padding-bottom: 5px;
  border-bottom: 1px solid #828282;
  margin-left: 40px;
  margin-right: 200px;
}

.settings__change:hover {
  color: #000;
}

.settings_look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 110px;
}

.settings_look__item {
  color: red;
  margin-right: 30px;
  font-size: 16px;
}

.settings_look__item:last-child {
  margin-right: 0;
}

.settings__search {
  cursor: pointer;
  background: #fff;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.settings__search.active {
  background: #21317a;
}

.settings__search.active path {
  fill: #fff;
}
