@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #00082F;
  padding: 0 30px;
}

.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
}

.header_info__item:last-child {
  margin-right: 0;
}

.header_info__item__number {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: 600;
}

.header_info__item__text {
  font-size: 14px;
  color: #e0e0e0;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu__icons__item:first-child {
  margin-right: 10px;
}

.header_menu__icons__item:first-child, .header_menu__icons__item:last-child {
  cursor: pointer;
  width: 26px;
  height: 20px;
}

.header_menu__icons__box {
  position: relative;
}

.header_menu__icons__box:first-child::after {
  right: 10px;
}

.header_menu__icons__box:last-child::after {
  right: 12px;
}

.header_menu__icons__box::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 11px;
  height: 11px;
  background: #FF7D7D;
  border-radius: 50%;
}

.header_menu__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #121D4D;
  padding: 35px 20px 35px 20px;
  margin-left: 43px;
  cursor: pointer;
}

.header_menu__main__text {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  margin-right: 25px;
}

.header_menu__main__text__main {
  font-size: 14px;
}

.header_menu__main__text__money {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}

.header_menu__main .arrow__down {
  margin-top: 13px;
}

.header_logout {
  margin-left: 40px;
  cursor: pointer;
}

.tabs__body {
  position: relative;
}

.tabs__body__item {
  position: absolute;
  z-index: -1;
  top: 0;
}

.tabs__block {
  width: 100vw;
  height: 100vh;
  display: none;
}

.tabs__block.active {
  display: block;
}

.tabs__block:nth-child(3) {
  background: url("../img/pre-trial_process/bg.png");
}

.sub__tabs {
  padding-top: 20px;
}

.sub__tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 55px;
  margin-bottom: 75px;
}

.sub__tabs__item {
  display: block;
  text-align: center;
  width: 150px;
  height: 60px;
  padding-top: 15px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  color: #4F4F4F;
  margin-right: 10px;
  border-radius: 10px;
}

.sub__tabs__item:last-child {
  margin-right: 0;
}

.sub__tabs__item.active {
  color: #F2F2F2;
  background: #21317A;
}

.sub__tabs__block {
  display: none;
}

.sub__tabs__block.active {
  display: block;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1460px;
  margin-left: 120px;
}

.settings__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-right: 25px;
  height: 45px;
}

.settings__items:nth-child(3) {
  margin-right: 0;
}

.settings__items:nth-child(3) .settings__item {
  border-right: none;
}

.settings__item {
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #BDBDBD;
}

.settings__item:last-child {
  border-right: none;
  margin-right: 0;
}

.settings__item.hints .hints__item {
  display: block;
}

.settings__change {
  cursor: pointer;
  color: #828282;
  padding-bottom: 5px;
  border-bottom: 1px solid #828282;
  margin-left: 40px;
  margin-right: 200px;
}

.settings__change:hover {
  color: #000;
}

.settings_look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 110px;
}

.settings_look__item {
  color: #4F4F4F;
  margin-right: 30px;
  font-size: 16px;
}

.settings_look__item:last-child {
  margin-right: 0;
}

.settings__search {
  cursor: pointer;
  background: #fff;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.settings__search.active {
  background: #21317A;
}

.settings__search.active path {
  fill: #fff;
}

.sidebar {
  padding-top: 32px;
  padding-left: 32px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
          box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
  height: 100vh;
  position: relative;
  min-width: 17vw;
}

.sidebar_back {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #E0E0E0;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar_back .arrow__left {
  position: absolute;
  top: 16px;
  left: 17px;
}

.sidebar__tabs .tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__tabs .tabs__items .tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  width: 100%;
}

.sidebar__tabs .tabs__items .tabs__item.active span {
  color: #21317A;
  font-weight: 600;
}

.sidebar__tabs .tabs__items .tabs__item.active img {
  -webkit-box-shadow: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.28));
          box-shadow: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.28));
}

.sidebar__tabs .tabs__items .tabs__item img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.sidebar__tabs .tabs__items .tabs__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #4F4F4F;
  font-weight: 500;
}

.sub_tabs__content {
  background: #fff;
  padding-bottom: 20px;
  -webkit-box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
          box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
}

.sub_tabs__content__header {
  background: #B8D7EB;
  -webkit-box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
          box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  padding-left: 33px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 83vw;
  margin-bottom: 30px;
}

.sub_tabs__content__header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.sub_tabs__content__header__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.sub_tabs__content__header__item__text input {
  margin-left: 10px;
}

.sub_tabs__content__header__item__ls {
  margin-left: 20px;
}

.sub_tabs__content__header__item__money__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  max-width: 160px;
}

.sub_tabs__content__header__item__money__item:last-child {
  margin-right: 0;
}

.sub_tabs__content__header__item__money__item span {
  font-weight: 600;
  margin-left: 10px;
  font-size: 16px;
}

.sub_tabs__content__header__checkbox {
  display: none;
}

.sub_tabs__content__header__checkbox:checked + .sub_tabs__content__header__checkbox__fake {
  background: #21317A;
}

.sub_tabs__content__header__checkbox:checked + .sub_tabs__content__header__checkbox__fake::before {
  opacity: 1;
}

.sub_tabs__content__header__checkbox__fake {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #D2D2D2;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 10px;
}

.sub_tabs__content__header__checkbox__fake::before {
  content: '';
  position: absolute;
  color: #ffffff;
  font-size: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.sub_tabs__content__items {
  max-width: 83vw;
  overflow-y: auto;
  height: 42vh;
  padding-right: 25px;
}

.sub_tabs__content__items::-webkit-scrollbar {
  width: 6px;
  margin-left: 20px;
  height: 20px;
}

.sub_tabs__content__items::-webkit-scrollbar-thumb {
  background: #21317A;
  border-radius: 10px;
}

.sub_tabs__content__items .sub_tabs__content__main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 7px;
  width: 100%;
  padding: 10px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info:hover {
  background: #B8D7EB;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__ls .number {
  display: block;
  color: #5080CD;
  font-size: 14px;
  margin-bottom: 10px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__ls__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__ls__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__ls__item:nth-child(2) img {
  width: 15px;
  height: 16px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__ls__item:nth-child(2) div:first-child {
  margin-right: 8px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__item {
  display: block;
  color: #333;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__item:nth-child(2) {
  max-width: 90px;
  margin-left: 30px;
  margin-right: 10px;
}

.sub_tabs__content__items .sub_tabs__content__main__item__info__item:nth-child(3) {
  max-width: 150px;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.status__menu__item {
  cursor: pointer;
  position: relative;
  width: 110px;
  height: 40px;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 0 13px 10px;
  font-size: 12px;
  font-weight: 500;
  display: none;
  margin-right: 30px;
}

.status__menu__item__new {
  background: #495CFF;
}

.status__menu__item__work {
  background: #828282;
}

.status__menu__item__ready {
  background: #009688;
}

.status__menu__item__redeemed {
  background: #96A1D3;
}

.status__menu__item__unloaded {
  background: #25B2D4;
}

.status__menu__item .arrow__down {
  position: absolute;
  top: 11px;
  right: 11px;
  border-width: 0 1px 1px 0;
}

.status__menu__item.active {
  display: block;
}

.status__label {
  margin-left: -15px;
}

.status__checkbox {
  display: none;
}

.status__checkbox:checked + .status__checkbox__fake {
  background: #CBD0E7;
}

.status__checkbox:checked + .status__checkbox__fake::before {
  opacity: 1;
}

.status__checkbox__fake {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #D2D2D2;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.status__checkbox__fake::before {
  content: '';
  position: absolute;
  color: #ffffff;
  font-size: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #21317A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #455159;
  max-width: 83vw;
  padding: 25px 0;
}

.total__text {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-left: 140px;
}

.total__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total__money__item {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: 91px;
}

.total__money__item:last-child {
  margin-right: 30px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}

.pagination__arrows__prev img:nth-child(2) {
  margin-left: -6px;
}

.pagination__arrows__next img:nth-child(2) {
  margin-right: -6px;
}

.pagination__page {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination__page span.active {
  color: #495CFF;
}

.settings__search {
  position: relative;
}

.settings__search__modal {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 56px;
  right: -30px;
  background: #fff;
  padding: 20px 20px 30px 20px;
  width: 385px;
  height: 489px;
  -webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
          box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
  border-radius: 10px 0px 0px 10px;
}

.settings__search__modal.active {
  display: block;
}

.settings__search__modal .modal__input {
  width: 345px;
  height: 45px;
  margin-bottom: 15px;
}

.settings__search__modal__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__search__modal__inputs .input__select input {
  width: 160px;
}

.settings__search__modal__inputs .input__select .arrow__down {
  bottom: 35px;
}

.settings__search__modal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.settings__search__modal__btn {
  width: 140px;
  height: 60px;
}

.settings__modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 6%;
  left: 8%;
  background: #fff;
  padding: 20px;
  max-width: 1166px;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
          box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
  border-radius: 10px;
}

.settings__modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__modal__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__modal__items:last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__modal__items:last-child .settings__modal__items__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
}

.settings__modal__items:last-child .settings__modal__items__box span {
  margin-bottom: 15px;
}

.settings__modal__items:last-child .settings__modal__items__box span:last-child {
  margin-bottom: 0;
}

.settings__modal__items:last-child .settings__modal__items__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings__modal__items:last-child .settings__modal__items__btns .btn__apply {
  width: 120px;
  height: 40px;
  margin-top: 20px;
}

.settings__modal__items:last-child .settings__modal__items__btns .btn__drop {
  width: 120px;
  height: 40px;
}

.settings__modal__item {
  max-width: 240px;
  margin-right: 50px;
}

.settings__modal__item:nth-child(3) {
  max-width: 230px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum_ur {
  margin-top: 20px;
  margin-left: 25px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum_ur .sum__box {
  margin-bottom: 10px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum_ur .sum__box span:first-child {
  margin-left: 5px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum_ur .settings__modal__item__range__value {
  margin-left: 5px;
  display: block;
  margin-top: 10px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum__box {
  margin-bottom: 10px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum__box span:first-child {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  margin-left: 25px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum__box span:last-child {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  margin-left: 70px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .sum label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) input[type="range"] {
  width: 170px;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:nth-child(3) .settings__modal__item__range__value {
  margin-left: 30px;
  display: block;
  margin-top: 10px;
}

.settings__modal__item:nth-child(4) .settings__modal__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings__modal__item:nth-child(4) .settings__modal__subitem:nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings__modal__item:nth-child(4) .settings__modal__subitem:nth-child(3) .sum__box {
  margin-bottom: 10px;
}

.settings__modal__item:nth-child(4) .settings__modal__subitem label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.settings__modal__item:nth-child(4) .settings__modal__subitem label .arrow__down {
  right: 10px;
}

.settings__modal__item:nth-child(4) .settings__modal__subitem input[type="text"] {
  width: 56px;
}

.settings__modal__item:nth-child(4) .settings__modal__subitem input[type="range"] {
  width: 183px;
}

.settings__modal__item:last-child {
  margin-right: 0;
}

.settings__modal__item__range__title {
  color: #4F4F4F;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.settings__modal__item__range__input {
  background: #CAE3F3;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  height: 5px;
}

.settings__modal__item__range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  background: #495CFF;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.28);
  border-radius: 50%;
}

.settings__modal__item__range__value {
  margin-top: 15px;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:first-child .box {
  margin-top: 0;
}

.settings__modal__item:nth-child(3) .settings__modal__subitem:first-child .box label:last-child {
  margin-right: -28px;
}

.settings__modal__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.settings__modal__subitem .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.settings__modal__subitem .box label {
  margin-bottom: 20px;
}

.settings__modal__subitem .box label:last-child {
  margin-right: 8px;
}

.settings__modal__subitem__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__modal__subitem__box .input__select p .arrow__down {
  right: 20px;
}

.settings__modal__subitem .input__select .arrow__down {
  right: 70px;
  bottom: 43%;
}

.settings__modal__subitem .modal__input {
  height: 45px;
}

.settings__modal__subitem__time span {
  margin-left: 10px;
}

.settings__modal__subitem__time span:first-child {
  margin-left: 0;
}

.settings__modal__subitem__time .modal__input {
  width: 56px;
  margin-left: 10px;
}

.modal__input {
  background: #E0E0E0;
  padding-left: 10px;
  border-radius: 10px;
}

.input__select {
  cursor: pointer;
  position: relative;
}

.input__select .arrow__down {
  position: absolute;
  right: 15px;
  bottom: 6%;
  z-index: 1;
  border: solid #000000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

input::-webkit-input-placeholder {
  color: #4F4F4F;
  font-weight: 500;
}

input:-ms-input-placeholder {
  color: #4F4F4F;
  font-weight: 500;
}

input::-ms-input-placeholder {
  color: #4F4F4F;
  font-weight: 500;
}

input::placeholder {
  color: #4F4F4F;
  font-weight: 500;
}

.btn__apply {
  cursor: pointer;
  background: #21317A;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
}

.btn__drop {
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #BDBDBD;
  background: #fff;
}

.settings__modal__item__checkboxs__checkbox {
  display: none;
}

.settings__modal__item__checkboxs__checkbox:checked + .checkbox__fake {
  background: #CBD0E7;
}

.settings__modal__item__checkboxs__checkbox:checked + .checkbox__fake::before {
  opacity: 1;
}

.checkbox__fake {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #D2D2D2;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.checkbox__fake::before {
  content: '';
  position: absolute;
  color: #ffffff;
  font-size: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #21317A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-45%, -50%);
      -ms-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 8, 47, 0.4);
  opacity: 0.8;
  z-index: 1;
  display: none;
}

.background.active {
  display: block;
}

.print__modal {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  top: 30%;
  left: 28%;
  z-index: 1;
}

.print__modal .cancel {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.print__modal.active {
  display: block;
}

.print__modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.print__modal__item__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  width: 70%;
  margin-bottom: 20px;
}

.print__modal__item__btn {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #000000;
  display: block;
  border: 1px solid #21317A;
  border-radius: 10px;
  width: 180px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.print__modal__item__btn:hover {
  background: #21317A;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.print__modal__item__btn:hover img {
  display: none;
}

.print__modal__item__btn:hover .eye__white {
  display: block;
  bottom: 65%;
}

.print__modal__item img {
  position: absolute;
  bottom: 60%;
}

.print__modal__item .eye__white {
  display: none;
}

.print.active svg path {
  fill: #21317A;
}

.house.active svg path {
  fill: #21317A;
}

.panel.active svg g path {
  fill: #21317A;
}

.house__modal {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  top: 30%;
  left: 22%;
  z-index: 1;
  width: 489px;
  height: 266px;
}

.house__modal .cancel {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.house__modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.house__modal__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000000;
}

.house__modal__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #21317A;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.house__modal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.house__modal__btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 60px;
  margin-top: 20px;
}

.house__modal__btns a:first-child {
  margin-right: 30px;
}

.btns__modal {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  top: 15%;
  left: 22%;
  z-index: 1;
  width: 560px;
  height: 537px;
}

.btns__modal .cancel {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.btns__modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btns__modal__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 50px;
}

.btns__modal__box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 140px;
  background: #F2F2F2;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 20px;
}

.btns__modal__box__item__title {
  text-align: center;
  margin-top: 10px;
}

.btns__modal__box__item:nth-child(4), .btns__modal__box__item:nth-child(5) {
  margin-top: 20px;
}

.btns__modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 221px;
  height: 60px;
  border-radius: 10px;
  margin: 0 auto;
}

.display__modal {
  display: none;
  position: absolute;
  width: 637px;
  height: 720px;
  left: 22%;
  top: 5%;
  z-index: 1;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12), 0px 14px 14px rgba(0, 0, 0, 0.237602);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12), 0px 14px 14px rgba(0, 0, 0, 0.237602);
  border-radius: 10px;
  padding: 40px;
}

.display__modal.active {
  display: block;
}

.display__modal .cancel {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.display__modal__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 30px;
}

.display__modal__records__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #333333;
  margin-bottom: 15px;
}

.display__modal__records__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #828282;
}

.display__modal__records input {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.display__modal__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.display__modal__colums .change {
  width: 13%;
  height: 10%;
  margin-top: 30px;
}

.display__modal__colums__item__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
  margin-bottom: 20px;
}

.display__modal__colums__item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  background: #F2F2F2;
  -webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
          box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
  border-radius: 10px;
}

.display__modal__colums__item__list__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 14px 12px 30px;
}

.display__modal__colums__item__list__item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.display__modal__colums__item__list__item:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.display__modal__colums__item__list__item:hover {
  background: #CAE3F3;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
}

.display__modal__colums__item__list__item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.display__modal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}

.display__modal__btns button {
  width: 180px;
  height: 60px;
}

.display__modal__btns button:first-child {
  margin-right: 15px;
}

.settings__item__notification.active svg g path {
  fill: #21317A;
}

.window__start {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 33px;
  padding-left: 30px;
  width: 406px;
  height: 90px;
  right: 17%;
  top: 2%;
  background: #5080CD;
  border-radius: 10px 0px 0px 10px;
}

.window__start__title {
  color: #ffffff;
}

.window__start__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.window__start__box img {
  height: 5px;
  margin-right: 10px;
}

.window__start__box span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.sms__start {
  display: none;
}

.sms__start.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sms.active svg path {
  fill: #21317A;
}

.voice__start {
  display: none;
}

.voice__start.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.voice.active svg path {
  fill: #21317A;
}

@media (max-width: 1888px) {
  .settings__change {
    margin-right: 133px;
  }
}

@media (max-width: 1860px) {
  .settings__change {
    margin-right: 60px;
  }
  .sub_tabs__content__items .sub_tabs__content__main__item__info__item:nth-child(2) {
    margin-left: 15px;
  }
  .settings__modal {
    left: 9%;
  }
  .house__modal {
    left: 27%;
  }
  .print__modal {
    left: 31%;
  }
}

@media (max-width: 1740px) {
  .sub_tabs__content__items .sub_tabs__content__main__item__info__item:nth-child(2) {
    margin-left: -10px;
    margin-right: -33px;
  }
  .settings_look {
    margin-right: 50px;
  }
}

html {
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-thumb {
  width: 0;
}

.arrow__down {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow__left {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1640px;
}

.hints__item {
  display: none;
  position: absolute;
  left: -12px;
  top: -45px;
  background: #E0E0E0;
  color: #4F4F4F;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #E0E0E0;
}

.hints__item::after, .hints__item::before {
  content: '';
  position: absolute;
  left: 15px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #E0E0E0;
}

.hints__item:after {
  border-top: 10px solid #E0E0E0;
  bottom: -19px;
}
