// HEADER
$header_bg: #00082F;
$profile_bg: #121D4D;
$header_subText: #e0e0e0;

// TEXT

$text_main: #4F4F4F;
$text_headlines: #333333;
$text_headlines2: #495CFF;
$text_headlines3: #000000;
$text_hover: #495CFF;
$text_inDark: #ffffff;
$text_error: #FF7D7D;
$text_link: #5080CD;
$text_active: #21317A;
