@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import '_nullstyle';
@import '_variables';
@import '../components/header';
@import '../components/tabs'; 
@import '../components/sidebar';
@import '../components/tabsContent';
@import '../components/modals';
@import '../components/media';

html {
    overflow: hidden;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow: hidden;
    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb  {
        width: 0;
    }
}

// items 

.arrow__down {
    border: solid $text_inDark;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
   
}
.arrow__left {
    border: solid #000;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}
.wrapper {
    display: flex;
    width: 1640px;

}

.hints {
    &__item {
        display: none;
        position: absolute;
        left: -12px;
        top: -45px;
        background: #E0E0E0;
        color: $text_main;
        font-size: 12px;
        align-items: center;
        border-radius: 5px;
        padding: 8px 10px;
        border: 1px solid #E0E0E0;
        &::after, &::before {
            content: ''; 
            position: absolute;
            left: 15px; 
            bottom: -20px;
            border: 10px solid transparent;
            border-top: 10px solid #E0E0E0;
        }
        &:after {
            border-top: 10px solid #E0E0E0;
            bottom: -19px; 
        }
    }
}
